{% extends "tasks/base_tasks.html" %}

{% block title %}Create Department{% endblock %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-lg-6">

    <div class="card soft-card p-4">
      <h3 class="mb-3">Create Department</h3>

      <form method="post">
        {% csrf_token %}

        <div class="mb-3">
          <label>Name</label>
          {{ form.name }}
        </div>

        <div class="mb-3">
          <label>Description</label>
          {{ form.description }}
        </div>

        <button class="btn btn-primary rounded-pill">
          Create
        </button>
      </form>
    </div>

  </div>
</div>
{% endblock %}